* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  
  main {
    padding: 50px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  #equipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  #equipe2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  
  /* Code CSS pour les membres de l'équipe */
  .membre {
    flex-basis: 45%;
    margin: 50px;
    text-align: center;
  }
  
  .membre img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .membre h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .membre p {
    margin-top: 10px;
    font-size: 16px;
  }
  
  /* Code CSS pour les deux premiers membres de l'équipe */
  .membre:nth-child(-n+2) {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .membre:nth-child(-n+2) img {
    margin-bottom: 20px;
  }
  
  .membre:nth-child(-n+2) p {
    margin-bottom: 0;
  }
  
  /* Code CSS pour les deux derniers membres de l'équipe */
  .membre:nth-child(n+3) {
    margin-top: 50px;
  }
  
 